@{
    ViewBag.Title = "Inicio";
}

<br />
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h2>Ejercicio prueba clientes</h2>
            <hr />
            <p>dbclientes:&nbsp; Base de datos Sql server</p>
            <p>Datos:&nbsp; Capa de conexion a base de datos</p>
            <p>Logica:&nbsp; Capa de operaciones a la base de datos</p>
            <p>ApiClientes: Proyecto api para el consumo de operaciones desde front</p>
            <p>Consumos:&nbsp; Capa intermedia para consumo de servicios de la api</p>
            <p>Clientes: Front de operaciones Clientes y Tipos de documentos</p>
        </div>

    </div>
</div>
